@model WorkingOut.Models.Workout

@{
    ViewBag.Title = "Add A Workout";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="row">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>

    <div class="row" id="date_div" >
        <div class="col-md-12">
            <h2 class="display-inline">Add Workout</h2> | <h5 class="display-inline">@Model.WorkoutDate.ToLongDateString() <a>Change Date</a></h5>
            @Html.HiddenFor(model => model.WorkoutDate)
        </div>
    </div>
        
    <div class="form-horizontal grey_div">
        <div class="form-group">
            <div class="col-md-12">
                <h4>@Model.WorkoutType</h4>
                @Html.HiddenFor(model => model.WorkoutType)
            </div>
        </div>

        <div class="form-group workout_info">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Duration, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ScaleWeight, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.ScaleWeight, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ScaleWeight, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-12">Notes</label>
                    <div class="col-md-12">
                        <!--<textarea cols="50" rows="4" maxlength="256" class="form-control"></textarea>-->
                        @Html.TextAreaFor(model => model.Notes, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group workout_info">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-12">
                        <h4>Add Exercises</h4>
                    </div>
                </div>
                <div class="form-group grey_div" id="exercise_entry">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-3">
                                <h4>Workout Type</h4>
                                @Html.DropDownList("ExerciseType", (IEnumerable<SelectListItem>)ViewBag.ExerciseTypes, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.WorkoutType, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-4">
                                <h4 class="display-inline">Exercise</h4> | <h6 class="display-inline"><a>Add New</a></h6>
                                @Html.DropDownList("ExerciseName", (IEnumerable<SelectListItem>)ViewBag.Exercises, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.WorkoutType, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-5">
                                <h4>Weight Information</h4>
                                <p class="form-control-static">There is no info for this item.</p>
                            </div>
                        </div>
                        <div class="form-group" id="sets_entry">
                            <div class="col-md-3">
                                <div class="set_entry">
                                    <h1 class="set_entry_num">10</h1>
                                    <div class="display-inline set_entry_rep">
                                        <h5>Reps</h5>
                                        <input size="3" class="set_entry_input" />
                                    </div>
                                    <div class="display-inline set_entry_wt">
                                        <h5>Weight</h5>
                                        <input size="3" class="set_entry_input" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="set_entry">
                                    <h1 class="set_entry_num">1</h1>
                                    <div class="display-inline set_entry_rep">
                                        <h5>Reps</h5>
                                        <input size="3" class="set_entry_input" />
                                    </div>
                                    <div class="display-inline set_entry_wt">
                                        <h5>Weight</h5>
                                        <input size="3" class="set_entry_input" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="set_entry">
                                    <h1 class="set_entry_num">1</h1>
                                    <div class="display-inline set_entry_rep">
                                        <h5>Reps</h5>
                                        <input size="3" class="set_entry_input" />
                                    </div>
                                    <div class="display-inline set_entry_wt">
                                        <h5>Weight</h5>
                                        <input size="3" class="set_entry_input" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="set_entry">
                                    <h1 class="set_entry_num">1</h1>
                                    <div class="display-inline set_entry_rep">
                                        <h5>Reps</h5>
                                        <input size="3" class="set_entry_input" />
                                    </div>
                                    <div class="display-inline set_entry_wt">
                                        <h5>Weight</h5>
                                        <input size="3" class="set_entry_input" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <input type="button" class="btn btn-primary" value="Add" id="addExercise"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <h4>Added Exercises</h4>
                    </div>
                </div>
                <div id="addedExercises">
                </div>
            </div>
        </div>

        <div class="form-group workout_info">
            <div class="col-md-3">
                <input type="submit" value="Create Workout" class="btn btn-primary form-control" />
            </div>
            <div class="col-md-2">
                <input type="button" value="Cancel" class="btn btn-danger form-control" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/Routine")
    @Scripts.Render("~/Scripts/Coded/CreateWorkout.js")
}

@section Styles{
    @Styles.Render("~/Content/Workout.css")
}

