@model WorkingOut.Models.Workout

@{
    ViewBag.Title = Model.WorkoutDate.ToString("M/dd/yyyy");
}

<h2>Workout For @Model.WorkoutDate.ToString("M/dd/yyyy")</h2>
<h4>Weight on scale: @Model.ScaleWeight</h4>
<hr />

<div>
    @Html.DisplayFor(model => model.Routine)
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to Workouts", "Index")
</p>
