@model WorkingOut.Models.EditWorkoutViewModel

@{
    ViewBag.Title = "Edit Workout";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>

    <div class="row" id="date_div">
        <div class="col-md-12">
            @Html.Hidden("ID", Model.Workout.ID)
            <h2 class="display-inline">Edit Workout</h2> | <h5 class="display-inline"><span id="workoutDateText">@Model.Workout.WorkoutDate.ToLongDateString()</span> <a id="datepicker" data-date="@Model.Workout.WorkoutDate.ToString("MM/dd/yyyy")">Change Date</a></h5>
            @Html.Hidden("WorkoutDate" , Model.Workout.WorkoutDate)
        </div>
    </div>

    <div class="form-horizontal grey_div">
        <div class="form-group">
            <div class="col-md-12">
                <h4>@Model.Workout.WorkoutType</h4>
            </div>
        </div>

        <div class="form-group workout_info">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Duration", htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Workout.Duration, null, "Duration", new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Workout.Duration, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("ScaleWeight", htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Workout.ScaleWeight, null, "ScaleWeight", new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Workout.ScaleWeight, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-12">Notes</label>
                    <div class="col-md-12">
                        @Html.TextArea("Notes", Model.Workout.Notes, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Workout.Notes, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group workout_info">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-12">
                        <h4>Add Exercises</h4>
                    </div>
                </div>
                <div class="form-group grey_div" id="exercise_entry">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-3">
                                <h4>Workout Type</h4>
                                @Html.DropDownList("ExerciseType", (IEnumerable<SelectListItem>)ViewBag.ExerciseTypes, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Workout.WorkoutType, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-4">
                                <h4 class="display-inline">Exercise</h4> | <h6 class="display-inline"><a>Add New</a></h6>
                                @Html.DropDownList("ExerciseName", (IEnumerable<SelectListItem>)ViewBag.Exercises, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Workout.WorkoutType, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-5">
                                <h4>Weight Information</h4>
                                <p class="form-control-static">There is no info for this item.</p>
                            </div>
                        </div>
                        <div class="form-group" id="sets_entry">
                            <div class="col-md-3">
                                <div class="set_entry">
                                    <h1 class="set_entry_num">10</h1>
                                    <div class="display-inline set_entry_rep">
                                        <h5>Reps</h5>
                                        <input size="3" class="set_entry_input" />
                                    </div>
                                    <div class="display-inline set_entry_wt">
                                        <h5>Weight</h5>
                                        <input size="3" class="set_entry_input" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="set_entry">
                                    <h1 class="set_entry_num">1</h1>
                                    <div class="display-inline set_entry_rep">
                                        <h5>Reps</h5>
                                        <input size="3" class="set_entry_input" />
                                    </div>
                                    <div class="display-inline set_entry_wt">
                                        <h5>Weight</h5>
                                        <input size="3" class="set_entry_input" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="set_entry">
                                    <h1 class="set_entry_num">1</h1>
                                    <div class="display-inline set_entry_rep">
                                        <h5>Reps</h5>
                                        <input size="3" class="set_entry_input" />
                                    </div>
                                    <div class="display-inline set_entry_wt">
                                        <h5>Weight</h5>
                                        <input size="3" class="set_entry_input" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="set_entry">
                                    <h1 class="set_entry_num">1</h1>
                                    <div class="display-inline set_entry_rep">
                                        <h5>Reps</h5>
                                        <input size="3" class="set_entry_input" />
                                    </div>
                                    <div class="display-inline set_entry_wt">
                                        <h5>Weight</h5>
                                        <input size="3" class="set_entry_input" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <input type="button" class="btn btn-primary" value="Add" id="addExercise" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <h4>Added Exercises</h4>
                    </div>
                </div>
                <div id="addedExercises">
                    @if (Model.AddedExercises.Count() > 0)
                    {
                        foreach(var addedExercise in Model.AddedExercises){
                            Html.RenderPartial("WorkoutExercise", addedExercise);
                        }
                    }
                    else
                    {
                        <div class="form-group grey_div" >
                            <div class="col-md-12">
                                <p>There are no exercises for this workout.</p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="form-group workout_info">
            <div class="col-md-3">
                <input type="submit" value="Create Workout" class="btn btn-primary form-control" />
            </div>
            <div class="col-md-2">
                <input type="button" value="Cancel" class="btn btn-danger form-control" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/Routine")
    @Scripts.Render("~/Scripts/Coded/CreateWorkout.js")
    @Scripts.Render("~/Scripts/bootstrap-datepicker.js")
}

@section Styles{
    @Styles.Render("~/Content/Workout.css")
    @Styles.Render("~/Content/datepicker.css")
}