@model WorkingOut.Models.AddedExerciseViewModel
@{
    Html.ViewData.TemplateInfo.HtmlFieldPrefix = "Routine[" + Model.ExerciseIndex + "]";               
}

    <div class="form-group grey_div" id="exercise_@Model.Exercise.ExerciseID.ToString()">
        <div class="col-md-2">
            <p class="set_added_name">@Model.ExerciseName</p>
            <div class="editDeleteEx">
                <h6 class="display-inline"><a class="edit_added" edit-id="@Model.Exercise.ExerciseID.ToString()">Edit</a></h6> <h6 class="display-inline"><a class="delete_added" delete-id="@Model.Exercise.ExerciseID.ToString()">Delete</a></h6>
            </div>
            <div class="saveExEdit">
                <button type="button" class="btn btn-success btn-xs">Save Exercise</button> 
            </div>
            @Html.Hidden("ID", Model.Exercise.ID)
            @Html.Hidden("ExerciseID", Model.Exercise.ExerciseID, new { @class = "exercise_id" })
            @Html.Hidden("WorkoutID", Model.Exercise.WorkoutID)
            <input type="hidden" name="DeleteExercise" class="DeleteExercise"/>
        </div>
        <div class="col-md-10 set_rows">
            @{
                int rownum = 0;
                for (int i = 0; i < Model.Sets.Count(); i++)
                {
                    if(i % 4 == 0){
                        if (i != 0)
                        {
            @:</div>                            
                        }
                        rownum++;
                        string divId = Model.Exercise.ExerciseID.ToString() + "_row_" + rownum.ToString();
            @:<div class="form-group" id="@divId">
                    }
                    //Html.RenderPartial("_Set",Model.Sets[i],partialViewData);
                    string divid = @Model.Exercise.ExerciseID.ToString() + "_set_" + i.ToString();
                <div class="col-md-3" id="@divid">
                    <div class="set_added">
                        @Html.HiddenFor(model => model.Sets[i].ID)
                        @Html.HiddenFor(model => model.Sets[i].WorkoutExerciseID)
                        <h6 class="set_added_num">@(i+1)</h6>
                        <div class="display-inline set_added_info">
                            <p>@Model.Sets[i].Reps x @Model.Sets[i].Weight lb</p>
                        </div>
                        <div class="set_added_input">
                            @{
                    string inputName = Html.ViewData.TemplateInfo.HtmlFieldPrefix + ".Sets[" + i + "].Reps";
                    string inputId = "Routine_" + Model.ExerciseIndex + "__Sets_" + i + "__Reps";
                            }
                            <input type="text" name="@inputName" id="@inputId" value="@Model.Sets[i].Reps"/>
                            <span> x </span>
                            @{
                    inputName = Html.ViewData.TemplateInfo.HtmlFieldPrefix + ".Sets[" + i + "].Weight";
                    inputId = "Routine_" + Model.ExerciseIndex + "__Sets_" + i + "__Weight";
                            }
                            <input type="text" name="@inputName" id="@inputId" value="@Model.Sets[i].Weight" />
                            <span> lb</span>
                        </div>
                    </div>
                </div>
               }
                if (rownum > 0)
                {
            @:</div>
                }
            }
        </div>
    </div>