@model WorkingOut.Models.AddedExerciseViewModel

    <div class="form-group grey_div" id="exercise_@Model.Exercise.ExerciseID.ToString()">
        <div class="col-md-2">
            <p class="set_added_name">@Model.ExerciseName</p>
            @Html.HiddenFor(model => model.ExerciseName)
            @Html.HiddenFor(model => model.Exercise.ExerciseID)
        </div>
        <div class="col-md-10 set_rows">
            @{
                for (int i = 0; i < Model.Sets.Count(); i++)
                {
                    int rownum = 0;
                    if((i+1) % 4 == 0){
                        rownum++;
                        string divId = Model.Exercise.ExerciseID.ToString() + "_row_" + rownum.ToString();
            @:<div class="form-group" id="@divId">
                    }
                    //Html.RenderPartial("_Set",Model.Sets[i],partialViewData);
                    string divid = @Model.Exercise.ExerciseID.ToString() + "_set_" + i.ToString();
                <div class="col-md-3" id="@divid">
                    <div class="set_added">
                        <h6 class="set_added_num">@(i+1)</h6>
                        <div class="display-inline set_added_info">
                            <p>@Model.Sets[i].Reps x @Model.Sets[i].Weight</p>
                        </div>
                    </div>
                </div>
                    if((i+1) % 4 == 0){
            @:</div>
                    }
               }
            }
        </div>
    </div>